<td>
  <%= description %>
</td>
<td class="complete">
  <% if (complete===true) { %>
    complete
  <% } else { %>
    incomplete
  <% } %>
</td>
<td>
  <form id="delete-task">
    <button type="submit" class="btn">X</button>
  </form>
</td>
